.connect-me{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.connect-me h2{
    width: 300px;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
background-color: #fff;
color:var(--orange);
font-weight: 600;
text-transform: uppercase;
}

.social-links-container{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20vh;
}
.social-links-container .social-links-card{
    width: 200px;
    height: 100px;
    text-align: center;
    margin-top: 40px;
    overflow-y: hidden;
    transition: 0.5s;
    position: relative;
}
.social-links-container .social-links-card::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 200px;
    height: 100px;
    transition: 0.5s ease-in-out;
    z-index: -1;
}
.social-links-container .social-links-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark-color);
    width: 200px;
    height: 100px;
    transition: 0.5s ease-in-out;
    z-index: -1;

}
.social-links-container .social-links-card:hover::before{
    top: -100%;
}
.social-links-container .social-links-card:hover::after{
    top: 0;
}
.social-links-container .social-links-card a{
    font-size: 4rem;
    text-decoration: none;
    color: var(--orange);
}